body{
    padding: 0;
    margin:0;
    background: #f2f6e9;
}
.navbar{
    background: skyblue;
}
.nav-link,
.navbar-brand{
    color:#fff;
    cursor: pointer;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    color: red;
}
.navbar-collapse {
    justify-content: flex-end;
  }